html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
}


ul {
	margin: 0;
	padding: 0;
}


.nav {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	row-gap: 10px;
	margin: 20px;
}

.nav-btn {
	padding: 10px 20px;
	background-color: rgb(198, 198, 198);
	color: rgb(28, 26, 26);
	border-radius: 5px;
}

#banner-frame {
	margin-left: 20px;
}

.active {
	background-color: rgb(140, 140, 140);
}

iframe {
	border: none;
	outline: none;
	box-shadow: none;
	overflow: hidden;
	-ms-overflow-style: none;
	scrollbar-width: none;
	padding: 0;

}

iframe::-webkit-scrollbar {
	display: none;
}

ul {
	list-style-type: none;
}

button {
	outline: none;
	border: 0;
	cursor: pointer;
}